@model HospitalProject.Models.Staff

@{
    ViewBag.Title = "UpdateStaff";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Staff/ShowStaff/@Model.SID">Back to Home</a>
    </nav>
</div>

<form method="POST" action="/Staff/UpdateStaff/@Model.SID">
    <div class="form-horizontal">
        <h2>Update Staff</h2>
        <hr />
        <div class="form-group">
            <label for="FName">First Name: </label>
            <input type="text" name="FName" id="FName" value="@Model.FName" />
        </div>
        <div class="form-group">
            <label for="LName">Last Name: </label>
            <input type="text" name="LName" id="LName" value="@Model.LName" />
        </div>
        <div class="form-group">
            <label for="DOB">Date of Birth: </label>
            <input type="text" name="DOB" id="DOB" value="@Model.DOB" />
        </div>
        <div class="form-group">
            <label for="Contact">Contact: </label>
            <input type="number" name="Contact" id="Contact" value="@Model.Contact" />
        </div>
        <div class="form-group">
            <label for="DID">DID: </label>
            <input type="text" name="DID" id="DID" value="@Model.DID" />
        </div>
        <div>
            <input class="btn btn-default" type="submit" value="Update Staff" />
        </div>
    </div>
</form>
