@model HospitalProject.Models.AppointmentDto
@{
    ViewBag.Title = "Details";
}

<a href="/Appointment/List">Back to List Page</a>
<h2>Appointment Details for @Model.FName @Model.LName</h2>
<div>Date: @Model.Date.ToLongDateString()</div>
<div>Time: @Model.Time.ToShortTimeString()</div>
<div>Reason: @Model.Reason</div>

